<section class="inner-banner">
  <img class="img-fluid" src="{{ section.settings.sale_banner | img_url: 'master' }}" alt="">
  <div class="inner-banner-cont">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ page_title }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="cms-content">
          <h3>Return Policy</h3>
          <h4>Lorem ipsum dolor</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
          <h4>Comments</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
          <h4>consectetur adipisicing</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>
          <h4>Cookies</h4>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.
          </p>
          <ul>
            <li>cillum dolore eu</li>
            <li>cillum dolore eu</li>
            <li>cillum dolore eu</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Sale Setting",
  "settings": [
    {
      "type": "image_picker",
      "label": "Banner Image",
      "id": "sale_banner"
    }
  ]
}
{% endschema %}
